<template>
  <div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MovigoO</a>
        </div>
      </div>
    </nav>

    <router-view></router-view>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr>

          <footer>
            <p>© 2020 Spyros Capetanopulos.</p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }

</script>

<style>
  body {
    padding-top: 50px;
  }

</style>
