<template>
  <div>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome !</h1>
      </div>
    </div>

    <input-phone v-if="inputStatus" @verify_request="verify_request" />

    <verify-check v-if="checkStatus" @verify_check="verify_check"></verify-check>

    <send-sms v-if="smsStatus" @message_to_send="message_to_send"></send-sms>

  </div>
</template>
<script>
  import InputPhone from "@/components/InputPhone"
  import VerifyCheck from "@/components/VerifyCheck"
  import SendSms from "@/components/SendSms"

  // Import Axios
  import axiosApi from 'axios'
  window.axios = axios
  const axios = axiosApi.create({
    // declaring base api url from .env file
    baseURL: 'http://localhost:3000'
  })

  axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
  axios.defaults.headers.common['Access-Control-Allow-Methods'] = '*';
  axios.defaults.headers.common['Access-Control-Allow-Headers'] =
    'access-control-allow-headers,access-control-allow-methods,access-control-allow-origin,authorization';

  export default {
    components: {
      InputPhone,
      VerifyCheck,
      SendSms
    },
    data() {
      return {
        inputStatus: true,
        checkStatus: false,
        smsStatus: false,
        request_id: "",
        phoneNumber: "",
        codeNumber: "",
        phoneNumberTo: "",
        messageTo: ""
      }
    },
    methods: {
      verify_request($event) {
        alert($event);
        this.phoneNumber = $event;

        console.log(this.phoneNumber);

        axios.post('/api/verify_request', {
            number: this.phoneNumber
          })
          .then(response => {
            console.log(response.data)
            console.log(response.data.request_id)
            this.request_id = response.data.request_id;
            this.inputStatus = false;
            this.checkStatus = true;

            // console.log(this.items)   
          })
          .catch(error => {
            console.log(error)
          })

      },
      verify_check($event) {
        this.codeNumber = $event;
        axios.post('/api/verify_check', {
            request_id: this.request_id,
            code: this.codeNumber
          })
          .then(response => {
            console.log(response.data)
            console.log(response.data.status)

            if (response.data.status == "0") {
              alert("You can send message");
              this.checkStatus = false;
              this.smsStatus = true;
            } else {
              this.checkStatus = true;
              alert("Error code, please try again.");
            }
            // console.log(this.items)   
          })
          .catch(error => {
            console.log(error)
          })
      },
      message_to_send($event) {
        // alert($event.phoneNumber);
        // alert($event.message);
        axios.post('/api/sendsms', {
            number: $event.phoneNumber,
            message: $event.message
          })
          .then(response => {
            console.log(response.data)
            alert(response.data);
            // console.log(this.items)   
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
  }

</script>
