<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div id="chat-form" class="menu-profile">
          <label for="phone_number">Phone Number</label>
          <input type="text" name="" placeholder="56956583074" id="" v-model="phone_number"
            @keydown.enter="checkForm" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        phone_number: null
      }
    },
    methods: {
      checkForm() {
        console.log(this.phone_number);
        if (this.phone_number != "") {
          this.$emit("verify_request", this.phone_number);
          this.phone_number = "";
        } else {
          alert("Please enter phone number");
        }
      }
    }
  }

</script>

<style>

</style>
