<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <form id="app" @submit="checkForm">
          <p>
            <label for="phoneNumber">Phone Number to send</label>
            <input id="phoneNumber" v-model="form.phoneNumber" type="text" name="phoneNumber">
          </p>

          <p>
            <label for="message">Message to send</label>
            <input id="message" v-model="form.message" type="text" name="message">
          </p>
          <p>
            <input type="submit" value="Enviar">
          </p>

        </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        form: {
          phoneNumber: "",
          message: ""
        }
      }
    },
    methods: {
      checkForm: function (e) {
        e.preventDefault();
        if (this.form.message && this.form.phoneNumber) {
          this.$emit("message_to_send", this.form);
        }

        if (!this.form.message) {
          alert('The message is required!');
        }
        if (!this.form.phoneNumber) {
          alert('The number is required!');
        }


      }
    }
  }

</script>

<style>

</style>
