<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div id="chat-form" class="menu-profile">
          <label for="phone_number">Validation Code</label>
          <input type="text" name="" placeholder="1234" id="" v-model="verify_code"
            @keydown.enter="checkForm" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        verify_code: null
      }
    },
    methods: {
      checkForm() {
        console.log(this.verify_code);
        if (this.verify_code != "") {
          this.$emit("verify_check", this.verify_code);
          this.verify_code = "";
        } else {
          alert("Please enter phone number");
        }
      }
    }
  }

</script>

<style>

</style>
